.fieldset {
  display: flex;
  flex-direction: column;
  max-width: 10em;
}

.fieldset__legend {
  padding-bottom: 1em;
  font-size: 1.25em;
}

.fieldset__button {
  width: 100%;
}

.color-control {
  display: flex;
  justify-items: center;
  padding-bottom: 0.5em;
  height: 1.75em;
}

.color-control__label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.color-control__input {
  height: 100%;
  padding: 0;
  border: none;
  width: 3em;
}

.color-control__btn {
  height: 100%;
  padding: 0 .5em;
  margin: 0;
  margin-left: .5em;
  border: none;
}
