.blockquote {
  max-width: 30rem;
  padding: 2rem;
}

.blockquote__body {
  font-size: 2em;
  text-align: justify;
  text-justify: inter-word;
}

.blockquote__byline {
  font-size: 1.5em;
  text-align: right;
  font-style: italic;
  padding-top: 1em;
  padding-right: 15%;
}
