.Page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 2em;
  overflow: auto;
}

.Page__Content {
  max-width: 40em;
}

@media screen and (min-width: 48em) {
  .Page__Content {
    width: 44em;
  }
}
