.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff4f8;
  padding: 2em;
}

.page_content {
  max-width: 40em;
}

@media screen and (min-width: 48em) {
  .page__content {
    width: 44em;
  }
}
